[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "dependencies/JoltPhysics"]
	path = dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
