[submodule "dependencies/enet"]
	path = dependencies/enet
	url = https://github.com/lsalzman/enet.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/sokol"]
	path = dependencies/sokol
	url = https://github.com/floooh/sokol.git
[submodule "dependencies/sokol-tools-bin"]
	path = dependencies/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
